.about_me{
    position: relative;
    margin-top: 120px;
    &__wrapper{
        width: 100%;
        min-height: 600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between; 
    }
    &__img{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text{
        //padding-left: 68px;
        padding-top: 10px;
    }
    &__divider{
        @include divider;
    }
    p{
        margin-top: 15px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &__grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 260px);
        grid-auto-rows: minmax(120px, auto);
        justify-content: space-between;
    }
    .grid-items{
        display: flex;
        justify-content: flex-start;
        align-self: start;
        @include before_circle_yellow_2;
        img{
            display: block;
            width: 25px;
            height: 25px;
            display: block;
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
        }
        p{
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}