.contact{
    margin-top: 120px;
    padding: 0 30px 90px 30px;
    position: relative;
    width: 100%;
    &__wrapper{
        width: 1040px;
        height: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    &__img{
        width: 400px;
        height: 600px;
    }
    &__text{
        padding-left: 68px;
        padding-top: 10px;
    }
    &__social{
        span{
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            li{
                margin-right: 25px;
                img{
                    width: 30px;
                    transform: rotate(90deg);
                }
            }
        }
    }
    &__form{
        width: 100%;
        &-header{
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
        }
        fieldset{
            margin-top: 10px;
            border: 0;
        }
        label{
            max-width: 130px;
            //height: 18px;
            margin-left: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            padding-left: 14px;
            padding-right: 14px;
        }
        &-textarea{
            margin-top: 25px;
            label{
                position: absolute;
                background-color: #ffffff;
                left:0;
                top:-8px;
                max-width: 155px;
                z-index: 2;
            }
            textarea{
                width: 100%;
                resize: none;
                border: 1px solid #000000;
                padding: 15px 10px;
            }
        }
        
        &-input{
            margin-top: 25px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 25px;
            label{
                position: absolute;
                background-color: #ffffff;
                left:0;
                top:-8px;
                max-width: 95px;
                z-index: 2;
            }
            input{
                position: relative;
                border: 1px solid #000000;
                width: 100%;
                padding: 15px 10px;
            }
        }
        &-trigers{
            width: 100%;
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 25px;
            justify-content: space-between;
            align-items: center;
            &-policy{
                width: 100%;
                display: flex;
                align-self: center;
                justify-content: space-around;
                span{
                    display: block;
                    font-size: 10px;
                    padding-left: 2px;
                }
            }
            button{
                border: 0px;
            }
        }
    }
}