.header{
    min-height: 100vh;
    position: relative;
    background: url('../img/header_bg.jpg') no-repeat 50%/cover ;
    //background-position: center;
    //background-repeat: no-repeat;
    //background-size: cover;
    padding-top: 205px;
    padding-bottom:50px;
    padding-left: 150px;
    &__subtitle{
        padding-left: 10px;
        z-index: 2;
        position: relative;
        @include before_circle_yellow;
        line-height: 24px;
    }
    &__title{
        width: 535px;
        margin-top: 10px;
    }
    &__btn{
        margin-top: 25px;
    }
}